@using HEB.NetGiphyA.Common
@model PictureViewModel
@{
    ViewBag.Title = "HEB - Animated Gifs";
}
<div class="row" style="padding-top:50px">
    <h2> Animated Gifs Results</h2>
</div>
<div class="container" style="padding-bottom:15px; padding-top:10px;">
    @{
        string alertType = "alert-danger";
        @if (Model.IsError)
        {
            <div class="alert @alertType" role="alert">
                @Model.Message
            </div>
        }
    }
    <table>
        @{
            int cicle = Model.Pictures.Count / Constants.MAX_PIC_PER_ROW;
            int elem = 0;
            var itemArray = Model.Pictures.ToArray();
            for (int i = 0; i < cicle; i++)
            {
                <tr>
                    <td>
                        <div class="card border-success mb-3" style="max-width: 15rem;">
                            <div class="card-header bg-transparent border-success text-center">
                                <button type="button" class="btn btn-primary" onclick="window.open('@itemArray[elem].SourceUrl')">View</button>
                                <input type="button" class="btn btn-primary" 
                                       onclick="savePicture('@itemArray[elem].SourceUrl','@itemArray[elem].FileName','@itemArray[elem].Height','@itemArray[elem].Width');" value="Save" />
                            </div>
                            <div class="card-body text-success">
                                <img src="@itemArray[elem++].FileName" height="200" width="200" />
                            </div>
                            <div class="card-footer bg-transparent border-success text-center">@elem</div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-success mb-3" style="max-width: 15rem;">
                            <div class="card-header bg-transparent border-success text-center">
                                <button type="button" class="btn btn-primary" onclick="window.open('@itemArray[elem].SourceUrl')">View</button>
                                <input type="button" class="btn btn-primary"
                                       onclick="savePicture('@itemArray[elem].SourceUrl','@itemArray[elem].FileName','@itemArray[elem].Height','@itemArray[elem].Width');" value="Save" />
                            </div>
                            <div class="card-body text-success">
                                <img src="@itemArray[elem++].FileName" height="200" width="200" />
                            </div>
                            <div class="card-footer bg-transparent border-success text-center">@elem</div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-success mb-3" style="max-width: 15rem;">
                            <div class="card-header bg-transparent border-success text-center">
                                <button type="button" class="btn btn-primary" onclick="window.open('@itemArray[elem].SourceUrl')">View</button>
                                <input type="button" class="btn btn-primary"
                                       onclick="savePicture('@itemArray[elem].SourceUrl','@itemArray[elem].FileName','@itemArray[elem].Height','@itemArray[elem].Width');" value="Save" />
                            </div>
                            <div class="card-body text-success">
                                <img src="@itemArray[elem++].FileName" height="200" width="200" />
                            </div>
                            <div class="card-footer bg-transparent border-success text-center">@elem</div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-success mb-3" style="max-width: 15rem;">
                            <div class="card-header bg-transparent border-success text-center">
                                <button type="button" class="btn btn-primary" onclick="window.open('@itemArray[elem].SourceUrl')">View</button>
                                <input type="button" class="btn btn-primary"
                                       onclick="savePicture('@itemArray[elem].SourceUrl','@itemArray[elem].FileName','@itemArray[elem].Height','@itemArray[elem].Width');" value="Save" />
                            </div>
                            <div class="card-body text-success">
                                <img src="@itemArray[elem++].FileName" height="200" width="200" />
                            </div>
                            <div class="card-footer bg-transparent border-success text-center">@elem</div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-success mb-3" style="max-width: 15rem;">
                            <div class="card-header bg-transparent border-success text-center">
                                <button type="button" class="btn btn-primary" onclick="window.open('@itemArray[elem].SourceUrl')">View</button>
                                <input type="button" class="btn btn-primary"
                                       onclick="savePicture('@itemArray[elem].SourceUrl','@itemArray[elem].FileName','@itemArray[elem].Height','@itemArray[elem].Width');" value="Save" />
                            </div>
                            <div class="card-body text-success">
                                <img src="@itemArray[elem++].FileName" height="200" width="200" />
                            </div>
                            <div class="card-footer bg-transparent border-success text-center">@elem</div>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function savePicture(urlSource, fileName, height, width) {
        var params = "SourceUrl=" + urlSource + "&FileName=" + fileName + "&Height=" + height + "&Width=" + width;
        window.open("/Picture/SavePicture?"+params);
    }
</script>